.body{
    background-color: #0000ff;
}
.loading{
    width: 100px;
    height: 100px;
    border: 20px solid gray ;
    border-radius: 50%;
    border-top-color: #0000ff ;
    animation: loading 1.5s ease infinite;
    margin-left: 600px;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
.nav-item{
    margin: auto;
    margin-left: 50px;
    font-size: 20px;
}